version: '3'

services:
  
  celery:
    network_mode: host
    build: .
    command: celery -A settings --workdir=./tasks  worker -l info
    volumes:
      - .:/code
     
  celery-beat:
    network_mode: host
    build: .
    command: celery -A settings --workdir=./tasks beat -l info
    volumes:
      - .:/code
  